<!DOCTYPE html>
<html ng-app="reportBuilderApp">
  <head>
    <title>Report Builder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" src="assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="assets/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/schema.js"></script>
    <script type="text/javascript" src="assets/app.js"></script>

  </head>
  <body>
    <div ng-controller="BuilderCtrl" class="container-fluid">
      <div class="row">
        
        <div class="col-md-1">
          <ul id="toolbox" >
            <li tool-type="text">
              <i class="fa fa-font"></i>
            </li>
            <li tool-type="image">
              <i class="fa fa-image"></i>
            </li>
            <li tool-type="table">
              <i class="fa fa-table"></i>
            </li>
          </ul>
        </div>

        <div class="col-md-8">
          <div id="page"></div>
        </div>

        <div id="properties" class="col-md-3">
          <form id="customize">

            <div class="form-group">
              <label for="name">Text</label>
              <input type="text" class="form-control" id="name" name="name" ng-model="properties.text" ng-change="toCss()" />
            </div>

            <div class="form-group">
              <label for="size">Font Size</label>
              <input type="number" class="form-control" id="size" name="size" ng-model="properties.css['font-size']" ng-change="toCss()" />
            </div>

          </form>
        </div>

      </div>
    </div>
  </body>
</html>