div#page {
  height: 11.7in;
  width: 8.27in;
  border: 1px solid #ccc;
  margin: 5px;
}

ul#toolbox {
  margin-top: 5px;
}

ul#toolbox li {
  list-style-type: none;
  z-index: 10;
  cursor: pointer;
}

.page-element {
  cursor: pointer;
}

#properties {
  padding-top: 15px;
}

#deleteElement {
  font-size: 18px;
  cursor: pointer;
}